.nav-link.active, a:visited:active  {
    /* color: var(--fourthThemeColor); */
    color: red;
    font-weight: 600;
}

a:link:active, a:visited, a:visited:active {
    color: red;
    font-weight: 600;
}

.navbar-brand {
    /* color: var(--secondaryThemeColor); */
    /* color: #ff4a00; */
    /* font-weight: 500;
    background: -webkit-linear-gradient(yellow, #fd6200, #ff1f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 20px;
}

.nav-link {
    /* color: var(--primaryThemeColor); */
    color: #ff7c00;
}

.navbar {
    background: transparent;
}

.container-fluid {
    background: transparent;
}

ul {
    margin-right: 50px;
}
