.container {
    background-color: rgba(var(--thirdThemeColor),var(--bs-text-opacity));
}
@media only screen and (max-width: 768px) {
    .container {
        width: auto;
        margin: auto 15px;
        padding-left: 0;
        padding-right: 0;
    }
}
.approve {
    background: var(--primaryThemeColor);
    color: var(--secondaryThemeColor);
}

.table tr:hover {background-color: #D6EEEE;}
.table td:hover {background-color: #D6EEEE;}

table tr:hover td {
    background-color: #FEFEFE;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
  }

thead tr td{
        --bs-bg-opacity: 1;
        background-color: var(--primaryThemeColor);
        --bs-text-opacity: 1;
        color: rgba(var(--thirdThemeColor),var(--bs-text-opacity))!important;
}

.experience-card {
    /* background-color: rgba(var(--secondaryThemeColor),var(--bs-text-opacity)); */
    /* background-color: white; */
    /* border: 1px solid var(--primaryThemeColor) !important; */
    min-height: 340px;
    margin: 5px;
    padding: 5px;
    display: block;
}