<div class="mx-3">
  <div class="form-wrapper m-auto mt-4 shadow-lg p-5">
    <h2 class="text-center heading">Add Banner</h2>
    <form>
      <div class="mb-2">
        <label for="formFile" class="form-label">Add Banner</label>
        <input
          class="form-control"
          name="file"
          type="file"
          id="formFile"
          (change)="onFileSelected($event)"
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn primaryThemebg">
          <!-- (click)="uploadImage()" -->
          Upload
        </button>
      </div>
    </form>
  </div>
</div>
