.whole-content {
    background-image: linear-gradient(to top, #ffff7a, white) !important;
    /* background-image: linear-gradient(to top, #ff947a, white) !important; */
    /* background-image: linear-gradient(to top, #ffdd7a, white) !important; */    
    /* background-image: linear-gradient(to top, #cfff7a, white) !important; */
    /* background-image: linear-gradient(to top, #8bff7a, white) !important; */

    position: relative;
    width: calc(100vw);
    height: 100vh;
    overflow: scroll;
    /* overflow-x: scroll;
    overflow-y: scroll; */
}

app-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: transparent;
}

.main-route {
    position: absolute;
    top: 56px;
    width: 100%;
    height: calc(100vh - 56px);
}