<div id="aboutUs">
    <div class="row mx-0" >
      <div class="col-12 com-sm-12 col-md-6 pt-4 pb-4">
        <img
              class="d-block w-75 m-auto"
              src="assets/images/happy_person.webp"
              alt="First slide"
            />
      </div>
      <div class="col-12 com-sm-12 col-md-6 text-center m-auto pt-4 pb-4 about-us-content">
        <h4 class="primaryTheme text-center">About Us</h4>
        <i>Healing is a journey where everyone's path is unique. Dive into some inspirational quotes to help the journey of healing your body, mind, and soul.
          The art of healing a mind and body is not to rush the process.
          <br><br>
          "It's when we start working together that the real healing takes place." - David Hume
        </i>
      </div>
    </div>
  </div>