#aboutUs {
    /* background-image: url(../../../assets/images/golden_light.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-image: linear-gradient(to right, #f79b3f , #ebeb3d); */
    /* background-image: linear-gradient(to right, #3f47f7 , #885131); */
    background: white;
  }
 
  #aboutUs{
   padding: 50px 0;
  }