 /* .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 0;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;

 }
    @media (min-width:900px){
    .coming-soon{
        font-size: 5.5rem !important;
    }
 } */

 @keyframes animatedBackground {
   from {
     background-position: 0 0;
   }
   to {
     background-position: 100% 0;
   }
 }

 .banner-row {
   /* background-image: linear-gradient(to left, black, yellow); */
   /* background-image: url(../../../assets/images/vaastu.jpg); */
   /* background: black; */
   /* background: url(../../../assets/images/stary_bg.png); */
   background: url(../../../assets/images/golden_stars.jpg);
   /* background: url(../../../assets/images/lightening.mp4); */
   animation: animatedBackground 20s linear infinite alternate;
   /* height: calc(100vh - 56px); */
 }

 .banner-img {
   height: auto;
   width: 300px;
   margin: auto;
 }

 .news-heading {
   color: var(--fourthThemeColor);
 }

 .news {
   color: var(--primaryThemeColor);
   width: fit-content;
   max-width: 100%;
   text-wrap: wrap;
 }

 #aboutUs {
   /* background-image: url(../../../assets/images/golden_light.jpg); */
   background-repeat: no-repeat;
   background-size: cover;
   /* background-image: linear-gradient(to right, #f79b3f , #ebeb3d); */
   background-image: linear-gradient(to right, #3f47f7 , #885131);
 }

 .about-us-content {
   /* background-image: url(../../../assets/images/golden_light.jpg);
   background-repeat: no-repeat;
   background-size: cover; */
 }

 #experiences {
   /* background-image: linear-gradient(to right, #f79b3f , #ebeb3d); */
   background-image: linear-gradient(to right, #f79b3f , #ce68d7);
 }