<!-- 
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="assets/images/vaastu.jpg"
        alt="First slide"
      />
    </div>
  </div>

  <div class="carousel-control">
    <span class="text-white coming-soon fs-1">Coming Soon....</span>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
   


<section class="">

  <div class="container-fluid">
    <div class="row banner-row">
      <div class="col-lg-6 m-auto pt-4 text-center">
        <h4 class="news-heading">She the refuge, peaceful and merciful undoubtedly</h4><br>
        <pre class="news m-auto text-center">Maa Durga ka sada rahe ashirvad<br>dhan, samridhi, sukh aur kamiyabi ka de aapko aashirvad<br>Navrati ki nau raatein roshan kar dein aapka Jeevan<br>Navratri ki shubh kamnayein</pre>
      </div>
      <div class="col-lg-6 ">
        <img
        class="d-block banner-img"
        src="assets/images/vaastu_1.jpg"
        alt="First slide"
      />
      </div>
    </div>
  </div>

</section>

 <app-experience-list [pageName]="pageName"></app-experience-list>

