/* You can add global styles to this file, and also import other style files */
:root {
    --primaryThemeColor: rgb(225, 225, 108);
    --secondaryThemeColor: white;
    --thirdThemeColor: black;
    --fourthThemeColor: #ff7c00;
}
html {
    scroll-behavior: smooth;
  }
body {
    /* background-color: var(--primaryThemeColor); */
    /* background-image: linear-gradient(to bottom, orange, yellow, white 50%) !important;; */
    color: black;

}

a, button {
    cursor: pointer;
}

.primaryThemebg {
    /* background-color: var(--primaryThemeColor); */
    /* background-color: linear-gradient(to bottom, orange, yellow, white 50%) !important;; */
    color: white;
    background-color: #ff4a00;;
}
.primaryTheme {
    color: var(--primaryThemeColor);
    color: #ff4a00;;
}

.whiteBg{
    background: white !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button, .p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
    background-color: var(--fourthThemeColor) !important;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

.p-card .p-component{
    width: 100% !important;
}

@media only screen and (max-width: 992px) {
    .navbar {
        background-color: white !important;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 100% !important;
        width: min-content;
    }

    app-course {
        width: auto;
    }

    .p-carousel .p-carousel-content .p-carousel-prev, 
    .p-carousel .p-carousel-content .p-carousel-next {
        display: none;
    }
}

.gradient-theme {
    font-weight: 500;
    background: -webkit-linear-gradient(yellow, #fd6200, #ff1f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#experiences {
    padding: 50px 0;
   }

#experiences {
    /* background-image: linear-gradient(to right, #f79b3f , #ebeb3d); */
    /* background-image: linear-gradient(to right, #f79b3f , #ce68d7); */
    background-image: linear-gradient(to right, #e4e88b , #94d768);
  }