/* You can add global styles to this file, and also import other style files */
:root {
    --primaryThemeColor: rgb(225, 225, 108);
    --secondaryThemeColor: white;
    --thirdThemeColor: black;
}
body {
    /* background-color: var(--primaryThemeColor); */
    color: black;

}