<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button [routerLink]="['/register']">Register</button>
    <button [routerLink]="['/add-experience']">Add Experience</button>
    <div class="carousel">
        <!-- <div *ngFor="let image of images">
            <img [src]="getImageUrl(image.filename)" alt="Image">
          </div> -->
      </div>
      <app-experience-list *ngIf="isAdmin" [pageName]="pageName"></app-experience-list>
</body>
</html>